<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="/static/javascript/jQuery/jquery-3.4.1.min.js"></script>

        <script type=text/javascript src="{{ url_for('static', filename='javascript/UIFunctions.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='javascript/InitalizeRoutes.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='javascript/LoadingData.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='javascript/RouteProcessing.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='javascript/RouteCalculation.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='javascript/GenerateRouteWaypoints.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='javascript/RouteRating.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='javascript/DisplayRoutes.js') }}"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXffDrv5b4RWmyFylQzwoumN5VpHwPpEU&callback=initGoogleMap" async defer></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>