<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner v3.5.0</title>

  <link rel="shortcut icon" type="image/png" href="../static/javascript/jasmine-3.5.0/jasmine_favicon.png">
  <link rel="stylesheet" href="../static/css/jasmine-3.5.0/jasmine.css">

  <script src="../static/javascript/jasmine-3.5.0/jasmine.js"></script>
  <script src="../static/javascript/jasmine-3.5.0/jasmine-html.js"></script>
  <script src="../static/javascript/jasmine-3.5.0/boot.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXffDrv5b4RWmyFylQzwoumN5VpHwPpEU" async defer></script>

  <!-- include source files here... -->
  <script src="../static/javascript/GenerateRouteWaypoints.js"></script>
  <script src="../static/javascript/RouteRating.js"></script>

  <!-- include spec files here... -->
  <script src="../static/javascript/Testing/GenerateRouteWaypointsSpec.js"></script>
  <script src="../static/javascript/Testing/RouteRatingSpec.js"></script>

</head>

<body>
</body>
</html>
